
<h2>Button Countdown</h2>

{{count}}

<div class="block">
    <a class="button is-info" {{action "takeOneFromCount"}}>Subtract 1</a>
</div>

<div class="block">
    <a class="button is-info" {{action "addOneToCount"}}>Add 1</a>
</div>